
        </br>
        <div id = "htdivnewuserlogin">
                 <form class="fields">

                         <input type="text" name="htuser_fname" id = "htmember_name" placeholder="First Name">
                          <input type="text" name="htuser_lname" id ="htuser_name"  placeholder="Last Name">
                         <input type="text" name="htemail" id = "htemail" placeholder="Email Addess">
                         <input type="text" name="htpassword" id = "htpassword"  placeholder="Password">
                         <input type="text" name="htconfirmpassword" id = "htconfirmpassword"  placeholder="Confirm Password">
                         <button id = "htnewuser">Create Account</button>
                 </form>

       </div>
       <div id = "myaccount">
               <p>Name: </p><p class = "htdispname">{{this.fname}}</p><p class = "htdispname">{{this.lname}}</p>
                <p>Email :</p><p id = "htdispemail">{{this.emailid}}</p>
                <p>ID: </p><p id = "htdispid">{{this.id}}</p>

      </div>
       <div id = "htdivsignup">
               <div class = "fields">
                     <form class = "login">
                        <input type = "text"  id = "htemail" name = "htemail" placeholder="Enter Email Address">
                        <button id = "htlogin">Login</button>
                    </form>
               </div>
       </div>
<script src = "/assets/js/ulogin.js"></script>
       <!--
       <div class="field">
           <div class="five fields">

           </div>
       </div> -->
       <!-- Button -->
       <!--
       <div class="ui animated fade button" tabindex="0">
           <div class="visible content">Create</div>
           <div class="hidden content">
               Organize
           </div>
       --->
