
        </br>
        <div id = "htdivnewuserlogin">
             <h3>Account Creation</h3>
              <label id = "ht-message"></label>
                 <form class="fields">
                         <label id = "ht-fname" name = "htfname">First Name</label><br />
                         <input type="text" name="htuser_fname" id = "htuser_fname" placeholder="First Name"><br />
                         <label id = "ht-lname" name = "htfname">Last Name</label><br />
                          <input type="text" name="htuser_lname" id ="htuser_lname"  placeholder="Last Name"><br />
                          <label id ="ht-yesnoemail">Email Addess</label><br />
                         <input type="text" name="htemail" id = "htemail" placeholder="Email Addess"><br />
                         <label id = "ht-yesnopwd1">Password</label><br />
                         <input type="text" name="htpassword" id = "htpassword"  placeholder="Password"><br />
                         <label id = "ht-yesnopwd2">Confirm Password</label><br />
                         <input type="text" name="htconfirmpassword" id = "htconfirmpassword"  placeholder="Confirm Password"><br />
                         <button id = "htnewuser">Create Account</button>
                 </form>
       </div>
 <br />
      <div>
          <button><a href = "/">Return to Home Page</a></button>
      </div>
