<div id = "myacdet">
    {{#each ulist}}
        <p>Name: </p><p class = "htdispname"></p>{{this.fname}}<p class = "htdispname">{{this.lname}}</p>
         <p>Email :</p><p id = "htdispemail">{{this.email}}</p>
         <p>ID: </p><p id = "htdispid"></p>
    {{/each}}
</div>


<div id = "create">
        <form class = "wlist">
         <input type = "text"  id = "wlistname" name = "wlistname" placeholder="wish list name">
         <button id = "createwl">Create Wish Lsit</button>
     </form>

</div>
