
        </br>
        <div id = "htdivnewuserlogin">
                 <form class="fields">
                         <label id = "ht-fname" name = "htfname"></label><br />
                         <input type="text" name="htuser_fname" id = "htuser_fname" placeholder="First Name">
                         <label id = "ht-lname" name = "htfname"></label><br />
                          <input type="text" name="htuser_lname" id ="htuser_lname"  placeholder="Last Name">
                          <label id ="ht-yesnoemail"></label><br />
                         <input type="text" name="htemail" id = "htemail" placeholder="Email Addess">
                         <label id = "ht-yesnopwd1"></label><br />
                         <input type="text" name="htpassword" id = "htpassword"  placeholder="Password">
                         <label id = "ht-yesnopwd2"></label><br />
                         <input type="text" name="htconfirmpassword" id = "htconfirmpassword"  placeholder="Confirm Password">
                         <button id = "htnewuser">Create Account</button>
                 </form>

       </div>
 <br /
       <!--
       <div class="field">
           <div class="five fields">

           </div>
       </div> -->
       <!-- Button -->
       <!--
       <div class="ui animated fade button" tabindex="0">
           <div class="visible content">Create</div>
           <div class="hidden content">
               Organize
           </div>
       --->
